<div class="search-bar">
    <div class="container">
        <form class="movie-search" id="movie-search" action="" autocomplete="off">
            <div class="movie-filter-cont">
                <label for="movie-filter"></label>
                <select id="movie-filter" name="movie-filter">
                    <option value="">Search by gerne</option>
                    <option value="35">Comedy</option>
                    <option value="878">Sci-Fi</option>
                    <option value="18">Drama</option>
                    <option value="27">Horror</option>
                    <option value="53">Thriller</option>
                    <option value="16">Animation</option>
                    <option value="28">Action</option>
                    <option value="99">Documentary</option>
                    <option value="12">Adventure</option>
                    <option value="10749">Romance</option>
                </select>
            </div>
            <div class="movie-search-input">
                <label for="movie-search-input"></label>
                <input id="movie-search-input" type="text" placeholder="Search a movie that you are lookin for">
            </div>
            <div id="submit">
                <button><i class="fal fa-search"></i></button>
            </div>
        </form>
    </div>
</div>