:root {
    --primary: #020D18;
    --red: #DD003F;
    --search-bar: #233A50;
    --star: #F5B50A;
    --lines: #405266;
    --light-white: #abb7c4;
    --white: #ffffff;
    --linky: #4280BF;
}

*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1{
    font-size: 3em;
    font-weight: 600;
}
h2{
    font-weight: 600;
    font-size: 1.9em;
}
h3{
    font-weight: 500;
    font-size: 1.5em;
}
h4{
    font-weight: 500;
    font-size: 1.3em;
}
a{
    text-decoration: none;
}
.container{
    margin: 0 12%;
}
.fa-star{
    color: var(--star)
}
body{
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    background-color: var(--primary);
    color: var(--white);
}

/* Header */
header{
    background-color: var(--primary);
    padding: 2em 0;
}
header>.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-logo{
    width: 10%;
}
.main-logo img{
    width: 100%;
}
.main-nav ul{
    display: flex;
}
.main-nav li{
    margin-left: 2em;
    list-style-type: none;
}
.main-nav li a{
    color: var(--light-white);
    font-weight: 600;
    font-size: 1.1em;
}
#call-to-a{
    background-color: var(--red);
    color: var(--white);
    padding: .6em 2em;
}


/* Hero */
.hero{
    background-image: url(https://uc7cb4c20f0e7d903ad3af623d90.previews.dropboxusercontent.com/p/thumb/ABSGKObhClzR8YAU49mdMXvglr3tP_LL_z1XtVQQm88BmApcTYwBPI9jm-y14QZW4Y-u3N4tbQ-nqRFTlZQmrksFSyWCafWopdTP84zm_9-ax8LLDzUHwzQZqnA8OexxJmi7f38G8_U-1kuv9T9yWLsyZGxuY2_DcVQe85GAazFeXu9dw0_eGfDyPg2bufis0GXMJaf5Js4W8-1JhaI9tlJ-3qzPSAeFNu4zl4IU0xIrWGtsLJhRRPg8mO6MYzBrFZB6JG4gZ3l1ji-Ry5zxOiKMpj9kOmsQb5JMOb3BhUW7d0lqZPvQbeZgnaxZ2713ky57Ho56IfY6Ed1hh02Ef7KNZPE_Ja7VuZdT2r6QcPUrTCMpzN0blsYXtvw-vq4Y-wx3TkoQ_7xjR6gXYeZuv3xC/p.jpeg?fv_content=true&size_mode=5);
    padding-top: 1px;
}

/* Search bar */
.search-bar form{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--search-bar);
    padding: 1em 2em;
    margin: 1em 0 2em;
    border: 5px solid #000;
}
.movie-search-input{
    flex:1;
}
.movie-search-input>input{
    width: 100%;
    margin: 0 2em;
}
.search-bar form>div>input,select,button{
    border: none;
    outline: none;
    color:var(--white);
    background-color: inherit;
    font-size: 1.1em;
}
.search-bar option{
    background-color: var(--search-bar);
}
#movie-search-input::placeholder {
    color: var(--light-white);
}
#movie-search-input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px var(--search-bar) inset; /* Change the color to your own background color */
    -webkit-text-fill-color: var(--light-white);
}
#movie-search-input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px var(--search-bar) inset;/*your box-shadow*/
    -webkit-text-fill-color: var(--light-white);
} 
#submit button:hover{
    cursor: pointer;
}

/* Feature movies */
.feature-movies{
    color: var(--white);
    padding: 1em 0 3em;

}
.feature-movies h1{
    margin-bottom: .4em;
}
.feature-movies>.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* individual movie */
.movie{
    position: relative;
    width: 24%;    
}
/* .movie-img::after{
    box-shadow: inset -5px -50px 100px -15px #000000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
} */
.movie-img{
    width: 100%;
}
.movie-img>a{
    display: block;
}
.movie-img img{
    width: 100%;
}

.movie .movie-details{
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.0000491947120645133) 0%,
     rgba(0,0,0,0.6858893899356618) 40%);
    padding:5em 0 2em 1em ;
    width: 100%;
}
.movie-details h3 a{
    display: block;
    color: var(--white);
    font-weight: 700;
}

/* gerne movies */
.movies{
    padding: 3em 0;
}
.movies h2{
    padding-bottom: .6em ;
}
.movies-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.secondary-movie{
    margin-bottom: 2em;
    width: 19%;    

}
.movie-hover{
    display: none;
}

/* Movie Details */
.movie-search-bar{
    margin-bottom: 5em;
}
.movie-main>.container{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
/* Movie detailed profile left */
.movie-dp{
    flex: 1;
    margin-right: 6%;

}
.movie-dp>img{
    width: 100%;
}
.trailer-btn a{
    display: block;
    color: var(--white);
    background-color: var(--red);
    text-align: center;
    width: 92%;
    margin: auto;
    padding:.8em 2em;
    margin-top: 1.4em;
    border-radius: 6px;
    font-weight: 600;
}
.fa-play{
    margin-right: .5em;
    font-size: .8em;
}

/* Right movie description */
.movie-descript{
    flex: 2;
}
.movie-descript-heading span{
    font-size: .6em;
    font-weight: 400;
    color: var(--light-white);
}
.movie-share{
    padding: 2.5em 0;
    display: flex;
    color: var(--red);
    align-items: center;
}
.share-icon{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--red);
    border-radius: 50%;
    margin-right: 2em;
}
.movie-share a{
    color: var(--red);
}
.social-icons>a{
    font-size: 1.3em;
    margin: 0 1em;
}
.movie-review{
    display: flex;
    align-items: center;
    border-top: 1px solid var(--lines);
    border-bottom: 1px solid var(--lines);
    margin-bottom: 4em;
}
.review-score{
    display: flex;
    align-items: center;
    border-right: 1px solid var(--lines);
    padding-right: 2em;
}
.left-star{
    margin: 1em 0;
    margin-right: 1em;
}
.left-star i{
    font-size: 1.5em;
}
.right-score>p{
    font-size: 1.2em;
}
.right-score>small{
    font-size: .92em;
    color: var(--linky)
}
.rate-no-login{
    color: var(--linky);
    font-weight: 600;
    text-decoration: underline;
}
.your-review-score{

    padding-left: 2em;
    display: flex;
    align-items: center;
}
.rate-movie{
    font-size: 1.4em;
    font-weight: 300;
    letter-spacing: .1em;
    padding-right: .6em;
    color: var(--light-white);
}
.rating-stars{
    display: flex;
}
.rating-stars i{
    padding: 0 .4em;
    color: #fff;
    display: block;
} 
.rating-stars:hover i{
    color: var(--star);
    cursor: pointer;

}
.rating-stars i:hover{
    color: var(--star);
}

.rating-stars i:hover ~ i{
    color: #fff;
}

/* Overview section starts */
.movie-overview h2{
    font-weight: 1.7em;
    margin-bottom: .6em;
}
.movie-overview h3{
    font-size: 1.3em;
}
.movie-overview h4{
    font-size: 1.1em;
}
.movie-overview-inner{
    display: flex;
}
.movie-overview-inner-left{
    width: 70%;
}
.movie-summary p{
    font-size: 1.05em;
    line-height: 1.45em;
    color: var(--light-white);
    margin-bottom: 1.5em;
}

.movie-images h3, .movie-casts h3{
    border-bottom: 1px solid var(--lines);
    padding-bottom: .4em;
    margin-bottom: 1.2em;
}
.movie-images-inner{
    display: flex;
    justify-content: space-between;

}
.movie-image-single{
    width: 23%;
}
.movie-image-single img{
    width: 100%;
    border-radius: 13px;
}
.movie-casts{
    padding: 1em 0;
}
.movie-casts-inner img{
    margin-right: 1em;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
.single-movie-cast{
    display: flex;
    align-items: center;
    padding-bottom: 1em;
}
.single-movie-cast a{
    color: var(--linky);
    font-family: sans-serif;
}

/* overview Right */
.movie-overview-inner-right{
    padding-left: 3em;
    flex: 1;
}
.indiv{
    padding-bottom: 2.2em;
}
.indiv h4{
    padding-bottom: .6em;
    font-weight: 600;
    color: var(--light-white);
}
.indiv>p{
    font-weight: 400;
    color: var(--linky);
}


/* footer */
.copyright{
    color: var(--light-white);
    font-size: .9em;
    padding: 2em 0;
    border-top: 1px solid var(--lines);
}
.copyright>.container{
    height: 100%;
    display: flex;
    align-items: center;;
    justify-content: center;
}

/* error page */
.err-details{
    text-align: center;
}
.err-details h1{
    font-size: 2em;
    margin: 1em 0;
}
.err-details p{
    font-size: 2em;
    margin: 1em 0;
}