<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies API</title>
</head>
<body>
    <%- include('../partials/header') %>

    <div class="search-bar">
        <select>
        <option>Comedy</option>
        <option>Drama</option>
        <option>Thriller</option>
        <option>Animation</option>
        <option>Action</option>
        <option>Documentary</option>
    </select>
        <input type="text" placeholder="Search a movie">
    </div>
</div>

<div class="container">
        <div class="social-media">
            <p>Follow us: </p>
            <a href="#!"><i class="ion-social-facebook"></i></a>
            <a href="#!"><i class="ion-social-twitter"></i></a>
            <a href="#!"><i class="ion-social-instagram"></i></a>
        </div>

<div class="movie-list">
         <div class="movie-img">
            <img src="#!" alt="movie poster">
        </div> 
        <div class="movie-hover">
            <a href="movie.ejs">Details</a>
        </div>
        <div class="movie-title">
            <h6><a href="#!">The Suicide Squad</a></h6>
            <p><i class="ion-android-star"></i><span>7.9</span> /10</p>
        </div>
</div>
    
<div class="movie-list">
    <div class="movie-img">
       <img src="#!" alt="movie poster">
   </div> 
   <div class="movie-hover">
       <a href="movie.ejs">Details</a>
   </div>
   <div class="movie-title">
       <h6><a href="#!">Shang-Chi and the Legend of the Ten Rings</a></h6>
       <p><i class="ion-android-star"></i><span>7.9</span> /10</p>
   </div>
</div>

<div class="movie-list">
    <div class="movie-img">
       <img src="#!" alt="movie poster">
   </div> 
   <div class="movie-hover">
       <a href="movie.ejs">Details</a>
   </div>
   <div class="movie-title">
       <h6><a href="#!">SAS: Red Notice</a></h6>
       <p><i class="ion-android-star"></i><span>6</span> /10</p>
   </div>
</div>

<div class="movie-list">
    <div class="movie-img">
       <img src="#!" alt="movie poster">
   </div> 
   <div class="movie-hover">
       <a href="movie.ejs">Details</a>
   </div>
   <div class="movie-title">
       <h6><a href="#!">Jurassic Hunt</a></h6>
       <p><i class="ion-android-star"></i><span>5</span> /10</p>
   </div>
</div>
    

<div class="movie-list">
    <div class="movie-img">
       <img src="#!" alt="movie poster">
   </div> 
   <div class="movie-hover">
       <a href="movie.ejs">Details</a>
   </div>
   <div class="movie-title">
       <h6><a href="#!">PAW Patrol: The Movie</a></h6>
       <p><i class="ion-android-star"></i><span>7.9</span> /10</p>
   </div>
</div>

<div class="movie-list">
    <div class="movie-img">
       <img src="#!" alt="movie poster">
   </div> 
   <div class="movie-hover">
       <a href="movie.ejs">Details</a>
   </div>
   <div class="movie-title">
       <h6><a href="#!">Space Jam: A New Legacy</a></h6>
       <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
   </div>
</div>

<div class="movie-list">
    <div class="movie-img">
       <img src="#!" alt="movie poster">
   </div> 
   <div class="movie-hover">
       <a href="movie.ejs">Details</a>
   </div>
   <div class="movie-title">
       <h6><a href="#!">F9</a></h6>
       <p><i class="ion-android-star"></i><span>7.5</span> /10</p>
   </div>
</div>

<div class="movie-list">
    <div class="movie-img">
       <img src="#!" alt="movie poster">
   </div> 
   <div class="movie-hover">
       <a href="movie.ejs">Details</a>
   </div>
   <div class="movie-title">
       <h6><a href="#!">Escape Room: Tournament of Champions</a></h6>
       <p><i class="ion-android-star"></i><span>7.1</span> /10</p>
   </div>
</div>

<div class="movie-list">
    <div class="movie-img">
       <img src="#!" alt="movie poster">
   </div> 
   <div class="movie-hover">
       <a href="movie.ejs">Details</a>
   </div>
   <div class="movie-title">
       <h6><a href="#!">The Boss Baby: Family Business</a></h6>
       <p><i class="ion-android-star"></i><span>7.8</span> /10</p>
   </div>
</div>



    <%- include('../partials/footer') %>
</body>
</html>