<%- include('../partials/header') %>
    <main>
        <section class="hero">

            <%- include('../partials/searchbar') %>

            <div class="feature-movies">
                <div class="heading container">
                    <h1>Featured movies</h1>
                </div>
                <div class="container movie-container-main">
                    
                </div>
            </div>
        </section>
        <section class="movies">
            <div class="container">
                <h2 id="movies-by-gerne">POPULAR MOVIES</h2>
                <div class="movies-list">
                    
                </div>
            </div>
        </section>
    </main>
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="./../javascripts/home.js"></script>
<%- include('../partials/footer') %>