<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <main>
        <% if (typeof message !== 'undefined') { %>
            <p style="color: red"><%= message %></p>
          <% } %>
        
            <form method= "POST" action="/login">
            <div>
                <label for="email">Email</label>
                <input id="email" type="email" name="email">
            </div>
            <div>
                <label for="password">Password</label>
                <input id="password" type="password" name="password">
            </div>
            <div class = "center">
                <button type = "submit">Log in</button>
            </form>
                <a href="http://localhost:5123/signup">Sign up</a>
               
            </div>

    </main>
</body>
</html>